.ObjectPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media (max-width: 768px) {
    .ObjectPage {
        grid-template-columns: repeat(1, 1fr);
    }
}